h1 {
  text-decoration: none;
}

header p {
  position: absolute;
  display: inline;
  left: 5%;
  top: 0%;
}

header h1 {
  display: inline;
}

img {
  height: 300px;
}

.textBox {
  text-align: left;
  margin: 2% 5%;
}

.listHeader{
  // text-align: left;
}

.listItem {
  // text-align: left;
}